<div class="container">

    <form name="form" ng-submit="ctrl.onSubmit(form.$valid)" class="p-lg"  novalidate>
        <div class="form-group">
            <h2>Send Message!</h2>
        </div>
        <div class="form-group">
            <input ng-model="ctrl.twilio.phone_number" type="text" name="phone_number" placeholder="Your Mobile Number" class="form-control">
            <span class="help-block has-error"
                  ng-show="form.phone_number.$invalid && form.phone_number.$dirty">
                {{ errorMessage('phone_number'); }}
            </span>
        </div>
        <div class="form-group">
            <textarea ng-model="ctrl.twilio.message_body" class="form-control" name="message_body" placeholder="Just say Hi!"></textarea>
            <span class="help-block has-error"
                  ng-show="form.message_body.$invalid && form.message_body.$dirty">
                {{ errorMessage('message_body'); }}
            </span>
        </div>
        <br>
        <button ng-click="ctrl.onSubmit(form.$valid)" class="btn btn-store btn-block" title="Send Message"
                ng-disabled="form.$invalid || form.$pristine"
                role="button" type="button">
            Send Message
        </button>
    </form>


</div>